.iconTable {
    width: 50px;
    height: 50px;
    background-color: cadetblue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchFrom {
    border: 1px solid lightgray;
    border-radius: 5px;
}

.searchFrom button {
    background-color: white;
    border: none;
}

.searchFrom input {
    border: none;
    outline: none;
}

.buttonAdd {
    color: white;
    border: none;
    background-color: red;
    border-radius: 5px;
}

.tableAnimal {
    height: 350px;
    overflow-x: scroll;
    overflow-y: scroll;
    font-size: 0.8rem;
}

.tableAnimal table {
    width: 1100px;
}

.logoAnimal {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 20px;
}

.Edit,
.Delete {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Edit:hover,
.Delete:hover {
    border-radius: 50%;
    background-color: burlywood;
}

#Edit,
#Delete {
    color: white;
    background-color: lightgray;
    border-radius: 5px;
}

.btnPage {
    border: none;
    border-radius: 5px;
    background-color: gray;
    color: white;
    font-size: 0.8rem;
}